@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Mono+One&family=Unbounded:wght@200..900&display=swap');


.Main{
    width: 100%;
    height: max-content;
    background: linear-gradient( to right, #E23A8F, #F87C83);
    display: flex;
    justify-content: center;
    
}
.Block{
    padding-top: 30px;
    width: 70%;
    height: 700px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    /* align-items: center; */
}
.MainTitle{
    width: 100%;
    text-align: center;
}
.MainTitle h1{
    font-family: "Unbounded", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 2.5rem;
}
.Cards{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content:space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    /* background-color: rebeccapurple; */
    /* border: 1px solid white; */
}
.Card{
    width: 330px;
    height: 220px;
    font-family: "Unbounded", sans-serif;
    color: white;
}
.CardId{
    font-weight: 900;
    font-size: 3rem;
}
.CardBlock1{
    display: flex;
    width: 100%;
    gap: 30px;
    align-items: center;
    
}
.CardTitle{
    font-size: 1.3rem;
}
.CardDesc{
    font-size: 0.8rem;
    font-weight: 300;
}

@media (max-width:1420px) {
    .Block{
        height: max-content;
    }
}
@media (max-width:850px) {
    .Cards{
        align-items: center;
        justify-content: space-between;
    }
    .Block{
        width: 100%;
    }
}
@media (max-width:660px) {
    .Block{
        height: max-content;

    }
    /* .Cards{
        align-items: center;
        justify-content: center;
    } */
     .Card{
        width: 230px;
        height: 120px;
     }
     .Cards{
        margin-top: 0px;
        display: flex;
        justify-content: center;
        gap: 20px;
     }
     .CardBlock1{
        gap: 10px;
        display: block;
        margin-bottom: 10px;
     }
     .CardId{
        font-size: 2rem;
     }
     /* .CardTitle{
        font-size: 0.9rem;
     }
     .CardDesc{
        font-size: 0.5rem;
     } */
}
@media (max-width:560px) {
    .MainTitle h1{
        font-size: 1.7rem;
    }
}

/* @media (max-width:480px) {
    
} */
@media (max-width:480px) {
    .Main{
        height: max-content;
    }
    .Block{
        width: 70%;
        height: max-content;
    }
    .MainTitle{
        text-align: start;
    }
    .MainTitle h1{
        font-size: 1.1rem;
    }
    .Card{
        width: 300px;
        height: 200px;
        /* border: 1px solid white; */
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .Cards{
        align-items: start;
        justify-content: start;
        padding-bottom: 30px;
    }

    .CardBlock1{
        height: 70px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: start;        
    }
}
